.anychat-brand,
.anychat-chat-icon,
.anychat-button,
.anychat-block,
.anychat-label {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Lato, 'Segoe UI', Helvetica, Arial, sans-serif;
}

#anychat-container {
    position: fixed;
    z-index: 10000;
    right: 0;
    bottom: 0;
}

#anychat-container.left {
    right: auto;
    left: 0;
}

#anychat-container.left {
    right: auto;
    left: 0;
}

#anychat-container.left .anychat-launcher,
#anychat-container.left .anychat-chat-icon {
    right: auto;
    left: 14px;
}

.launcher-container {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*background: #ffffff;*/
    /*z-index: -1;*/
    /*border: solid rgba(0, 0, 0, .1);*/
    /*border-width: 0 2px 2px;*/
}
    .launcher-container .add-anychat-link {
        border: none;
        font-size: 12px;
        line-height: 100%;
        color: #8b8f94;
        cursor: pointer;
        margin-left: 24px;
    }

    .launcher-container .add-anychat-link:hover {
        color: rgb(120, 59, 210) !important;
        text-decoration: underline;
    }

.channels-group-heading {
    width: 100%;
    height: 10pt;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: .8em;
}
.channels-group-heading:hover,
.anychat-chat-icon:hover .channels-group-heading {
    background: #FFFFFF;
}

.anychat-messengers {
    background-color: red;
    width: 250px;
    min-height: 100px;
}

.anychat-launcher,
.anychat-chat-icon {
    float: left;
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 33px;
    right: 40px;
    bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}
.anychat-chat-icon {
    border-radius: 0;
    height: 50px;
    right: 18px;
    /*width: ;*/
}

.anychat-chat-icon {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.anychat-chat-icon .chat-close {
    display: none;
}
    .anychat-chat-icon .chat-close > img {
        margin-top: 8px;
        height: 22px;
        width: 22px;
        transition: .2s ease-in-out;
        border-radius: 14px;
    }
    .anychat-chat-icon .chat-close > img:hover {
        border: 1px solid rgba(120, 59, 210, .55);
        /*text-shadow: 0 0 10px rgba(120, 59, 210, .55);*/
        -webkit-filter: drop-shadow( 0 0 10px rgba(120, 59, 210, .55) );
        filter: drop-shadow( 0 0 10px rgba(120, 59, 210, .55) );
    }

.anychat-button,
.anychat-block {
    color: white;
    border: 2px solid white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    display: block;
    padding: 3px 6px;
    padding: 0.2rem 0.4rem;
    text-align: center;
}

.anychat-block:hover {
    color: white !important;
    cursor: default;
}

.anychat-chat-icon img {
    height: 33px;
    width: 33px;
    display: inline-block;

}

.anychat-chat-icon{
	box-shadow: none !important;
    min-width: 290px;
    background: #FFFFFF;
    border: solid rgba(120, 59, 210, .55);
    border-width: 0 2px;
    /*border-radius: ;*/
    padding: 10px 20px 0;
}
.anychat-chat-icon:hover {
    /*background: #f7fcf2;*/
}
    .anychat-chat-icon > img,
    .anychat-chat-icon > a {
        float: right;
    }

.chatbot > .anychat-chat-icon {
    height: 60px;
    padding-top: 10px;
}

.anychat-chat-icon.anychat-panel {
    position: fixed;
    width: 280px;
    height: 280px;
    right: 50% !important;
    top: 50% !important;
    margin-right: -140px;
    margin-top: -140px;
    z-index: 11;
}

.anychat-close-button.anychat-panel {
    position: fixed;
    right: 50% !important;
    top: 50% !important;
    /*margin-right: px;*/
    margin-top: -140px;
    z-index: 11;
}

.anychat-chat-icon.anychat-panel:hover
{
    cursor: default;
}

#anychat-container.left .anychat-chat-icon.anychat-panel {
    left: auto;
}

.anychat-qr {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 40px;
    border-radius: 5px;
    visibility: visible;
    background-size: contain;
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear 0.2s;
}
    .anychat-qr .anychat-close-button {
        position: absolute;
        top: -58px;
        right: -58px;
        text-decoration: none;
        border: none;
    }
    .anychat-qr .anychat-close-button:hover {
        cursor: pointer;
    }

.anychat-chat-icon:not(.anychat-panel) .anychat-qr {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

.anychat-launcher.anychat-launcher-active .anychat-brand {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.anychat-brand {
    text-decoration: none;
    position: absolute;
    visibility: hidden;
    font-weight: 500;
    font-size: 11px;
    bottom: -24px;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 0;
    right: 0;
    width: 90px;
    text-align: right;
    -webkit-transition: visibility 0s, opacity 0.5s linear 3s;
    transition: visibility 0s, opacity 0.5s linear 3s;
}

.chat-window {
    width: 250px;
    position: absolute;
    right: 18px;
    /*background: ;*/
    overflow: hidden;
}

    .chat-window .message-container {
        position: absolute;
        top: -2px;
        background: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 16px;
        /*border: 2px solid rgba(0, 0, 0, .1);*/
    }
    .chat-window .message-container::-webkit-scrollbar {
        display: none;
    }
        .chat-window .message-container .chat-message {
            font-size: 12px;
            padding: 12px;
            margin: 5px 12px;
            display: inline;
            clear: both;
            max-width: 92%;
            word-wrap: break-word;
            line-height: 100%;
            -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
            -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
            box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.22);
        }
        .chat-window .message-container .chat-message.bot {
            background-color: #FFFFFF;
            float: left;
        }
        .chat-window .message-container .chat-message.user {
            background-color: rgba(120, 59, 210, .55);
            color: #ffffff;
            float: right;
        }

        .chat-window .message-container .quick-reply-container {
            /*width: 400px;*/
            height: 40px;
            padding: 3px 0;
        }
            .chat-window .message-container .quick-reply-container .inner {
                height: 100%;
                white-space: nowrap;
            }
            .chat-window .quick-reply-container .quick-reply {
                height: 34px;
                background: #FFFFFF;
                display: inline-block;
                border: 1px solid #783bd2;
                margin: 0 3px;
                padding: 6px;
                border-radius: 16px;
                color: #783bd2;
                cursor: pointer;
                font-size: 12px;
            }
            .chat-window .quick-reply-container .btn{
                position: absolute;
                width: 38px;
                height: 38px;
                top: 0;
                cursor: pointer;
                z-index: 1;
                display: none !important;
            }
                .chat-window .quick-reply-container .btn > img {
                    max-width: 100%;
                }
            .chat-window .quick-reply-container .btn.next {
                right: 0;
            }
            .chat-window .quick-reply-container .btn.prev {
                left: 0;
            }


    .chat-window .bottom {
        padding: 15px 12px 0;
    }
        .chat-window .bottom .send-message {
            display: inline-block;
            cursor: pointer;
        }
            .chat-window .bottom .send-message img {
                height: 33px;
                width: 33px;
                vertical-align: middle;
            }

#chatInput {
    display: inline-block;
    border: 2px solid #dadada;
    vertical-align: middle;
    /*border-radius: 7px;*/
    font-size: 12px;
}
#chatInput:focus {
    outline: none;
    border-color: rgba(120, 59, 210, .55);
    box-shadow: 0 0 10px rgba(120, 59, 210, .55);
}
#chatInput.black-placeholder::-webkit-input-placeholder {
    color: #000000 !important;
}

/*.chat-window .inner {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 38px;*/
    /*margin: 0 1%;*/
    /*height: 296px;*/
    /*width: 98%;*/
    /*background: #fff;*/
    /*overflow-x: hidden;*/
/*}*/

/*.chat-widget .inner .message-container {*/
    /*background-color: #FFFFFF;*/
    /*height: inherit;*/
    /*margin-top: -40px;*/
    /*overflow-y: scroll;*/
    /*width: 311px;*/
    /*padding-top: 40px;*/
/*}*/

.anychat-label {
    /*width: 96px;*/
    text-align: right;
    color: #686868;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    margin-top: -5px;
    right: 66px;
    position: absolute;
    display: inline-block;
	background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
    .anychat-label .heading {
        line-height: 100%;
        font-size: 16px;
        font-weight: 700;
        margin: 6px 0 0;
    }
    .anychat-label .subheading {
        line-height: 100%;
        font-size: 12px;
        font-weight: 400;
        max-width: 170px;
    }
.anychat-description {
    position: absolute;
    width: 66px;
    text-align: right;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    margin-top: -5px;
    right: 74px;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.anychat-chat-icon:hover > .anychat-label {
    opacity: 1;
    filter: alpha(opacity=100);
}

.anychat-chat-icon.anychat-panel > .anychat-label {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-left: 148px;
    color: #FFFFFF;
    text-align: left;
}
.anychat-chat-icon.echo.anychat-panel > .anychat-label {
    color: #2F80ED;
}

#anychat-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

#anychat-overlay .overlay-body {
    position: absolute;
    width: 600px;
    height: 480px;
    max-width: 100%;
    max-height: 100%;
    right: 50% !important;
    top: 50% !important;
    margin-right: -300px;
    margin-top: -240px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 16px;
    padding-top: 20px;
}

#anychat-overlay .anychat-qr {
    display: none;
}

#anychat-overlay .anychat-qr.active {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}

.anychat-overlay-chat-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 24px;
    border-radius: 16px;
}


/* Media Query */


/* Click Effects */

.anychat-launcher {
    transition: color 0.7s;
    -webkit-transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}

.anychat-effect:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

.anychat-effect:before,
.anychat-effect:after {
    box-shadow: 0 0 0 2px rgba(111, 148, 182, 0.6);
}

.anychat-effect.anychat-show-effect:before {
    -webkit-animation: anychat-effect-1 0.5s forwards;
    animation: anychat-effect-1 0.5s forwards;
}

.anychat-effect.anychat-show-effect:after {
    -webkit-animation: anychat-effect-2 0.5s forwards;
    animation: anychat-effect-2 0.5s forwards;
}

@-webkit-keyframes anychat-effect-1 {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes anychat-effect-1 {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
}

@-webkit-keyframes anychat-effect-2 {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    50%,
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anychat-effect-2 {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    50%,
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}
